#deckList {
    width: 100%;
    border-collapse: collapse;
}

#deckList th, #deckList td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#deckList tr:nth-child(even) {
    background-color: #f2f2f2;
}

#deckList tr:hover {
    background-color: #ddd;
    cursor: pointer;
}
