/* Flashcard Container */
.flashcard-container {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(189, 202, 202, 0.884); /* Keeping Flashcards White */
    border: 1px solid #eeb5b5;
    width: 20%; /* Adjust as Necessary */
    height: 390px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;    
    display: flex;
    perspective: 1000px; /* Necessary for the flip effect */
    position: relative;
  }

  .flashcard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flashcard-container.flipped .flashcard-inner {
    transform: rotateY(180deg);
}

.flashcard_front, .flashcard_back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.flashcard_back {
    transform: rotateY(180deg);
    /* Style for the back of the card */
}


