/* Container for Main Content */
.container {
    text-align: center;
    margin-top: 100px;
    background-color: transparent;
  }

/* Top Right Section */
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
  }  

/* Color Change Section */
.color-change-section {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 10px;
    border-right: 1px solid #ddd;
  }

/* Other elements */
.divider {
    border: none; /* Removes the default border */
    height: 1px; /* Sets the height of the divider line */
    background: transparent; /* Makes the divider transparent */
    margin: 5px 0; /* Adds some space above and below the divider */
}





.menu_router_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcccc; /* Light red background */
    padding: 10px;
    width: 100%;
}

.menu-button {
    margin: 0 10px;
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgb(187, 120, 120);
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.menu-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}



